body{
    width: 100%;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
}

#navbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 25vw;
    width: 25vw;
    height: 100%;
    border-right: 3px solid  rgba(0, 22, 22, 0.4);
}

header{
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}

#navbar ul {
    height: 80%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

#navbar li{
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a{
    display: block;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
    padding:10px 30px;
    margin: 5px;
    font-weight: 600;
}
main{
    position: absolute;
    margin-left:30vw ;
    
}

main header{
    text-align: start;
    font-weight: 600;
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media (max-width:768px){
    #navbar ul {
        border: 1px solid;
        height: 207px;
      }
    
      #navbar {
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
        text-align: center;
      }
    
    main {
        position: relative;
        margin-left: 0px;
        margin-top: 300px;
        margin: 220px 10px 10px 0px;
        padding: 50px;
      }

    section{
        margin-top: 20px;
    }

    section h1{
        text-align: center;
    }
}